<style>
    .home_back {
        transform: translateX(50vw);
        margin-top: 20px;
    }
</style>

<div class="position-absolute home_back">
    <a href="/" class="text-white">
        <span class="fa fa-2x fa-home"></span>
    </a>
</div>