<nav class="navbar border-bottom border-left-0 border-right-0 border-top-0 navbar-expand-md navbar-light bg-light">
    <a href="/dashboard" class="navbar-brand"><span class="fa fa-book text-success"></span> LIMS DASHBOARD</a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item border-right p-3 font-weight-bold">
            <span class="fa fa-university text-primary"></span>
            {{ inst_name }}
        </li>
        <li class="nav-item p-3 font-weight-bold">
            <a href="/dashboard/logout" class="text-dark">
                <span class="fa fa-power-off text-danger"></span>
                Logout
            </a>
        </li>
    </ul>
</nav>