<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LIMS Web App</title>
    {{> 'common/css_files' }}
</head>

<body>

    <main>
        <section class="d-flex v-100">
            <div>
                {{> 'sidebar' }}
            </div>

            <div class="col">
                {{> 'dashboard_header' }}
                {{{ body }}}
            </div>
        </section>
    </main>

    {{> 'common/js_files' }}

    {{!-- dashboard Js File --}}
    <script src="/assets/js/dashboard.js"></script>
</body>

</html>