{{> 'back_home' }}

<article class="vh-100 books-bg d-flex flex-column justify-content-center align-items-center">

    {{#if alert}}
    <div class="alert text-center {{alert.class}} alert-dismissible fade show">
        {{{ alert.msg }}}
        <button class="btn close" data-dismiss="alert"><span class="fa fa-times"></span></button>
    </div>
    {{/if}}
    <section class="container w-25">
        <section class="card shadow fd-bg">
            <div class="card-body">
                <form action="/inst/login" method="POST" class="text-white">
                    <legend class="text-center mb-3 font-weight-bold">
                        <span class="fa fa-university"></span> Login to LIMS
                    </legend>
                    <hr class="w-50 bg-white">
                    <div class="form-group">
                        <label for="inst_email">Institute Email</label>
                        <input type="text" class="form-control" name="inst_email" id="inst_email">
                        <div class="error-msg"></div>
                    </div>
                    <div class="form-group">
                        <label for="inst_pwd">Password</label>
                        <input type="password" class="form-control" name="inst_pwd" id="inst_pwd">
                        <small>Must contain atleast one symbol, letter and number and in between 4-25</small>
                        <div class="error-msg"></div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success btn-block">
                    </div>
                </form>
            </div>
            <p class="lead text-white text-center">
                Don't have an account yet ?
                <a href="/reg" class="btn btn-primary">Signup Now</a>
            </p>
        </section>
    </section>
</article>

{{!-- script to display error messages from server side --}}
{{#if_cond formStatus.isValid '==' false}}
{{#auth_error_script formStatus.invalidFields values}}
{{/auth_error_script}}
{{/if_cond}}
<script src="/assets/js/validation/login_valid.js" type="module" defer></script>