<article class="card shadow my-5">
    <section class="card-body">
        <div class="alert alert-dismissible fade hide" id="alertMsg">
            <div></div>
            <button class="btn close"><span class="fa fa-times"></span></button>
        </div>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link show active" data-toggle="tab" href="#addEntity">Add Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link show" data-toggle="tab" href="#bookModify">Modify/Remove Book</a>
            </li>
        </ul>
        <hr>
        <div class="tab-content">
            <div class="tab-pane fade active show w-25" id="addEntity">
                <form action="#">
                    <div class="form-group">
                        <label for="bname">Book Name</label>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="bauthor">Book Author</label>
                        <input type="text" name="author" id="author" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="bbranch">Branch</label>
                        <input type="text" name="branch" id="branch" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="totalbs">Total Books</label>
                        <input type="text" name="quantity" id="quantity" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Add
                            Book</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade show" id="bookModify">
                <div class="w-25">
                    <div class="form-group">
                        <label class="font-weight-bold">Book Search</label>
                        <input type="text" class="form-control search-input" id="searchInput">
                        <div class="p-2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Search By</label>
                        <select class="custom-select" id="searchType">
                            <option value="uid" selected>Book Id</option>
                            <option value="name">Book Name</option>
                            <option value="author">Author Name</option>
                            <option value="branch">Branch</option>
                        </select>
                    </div>

                    <button class="btn btn-primary search-btn" id="searchBy">Search</button>
                    <button class="btn btn-outline-warning search-btn" id="searchAll">Show All</button>
                    <small>(List all books in library)</small>
                </div>

                <hr>

                <table class="table table-responsive-md table-bordered table-hover" id="listTable">
                    <thead>
                        <tr>
                            <td>Book Id</td>
                            <td>Book Name</td>
                            <td>Auhtor</td>
                            <td>Branch</td>
                            <td>Quantity</td>
                            <td>Stock</td>
                            <td>Edit Book</td>
                            <td>Remove Book</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </section>
</article>
<script src="/assets/js/menu/menu.js" type="module" defer></script>