<div class="text-center mt-20">
    <h1 class="display-1 w-100">Welcome to LIMS Dashboard</h1>
    <h3 class="text-muted text-light" id="time_display">Date and time will be display here</h3>
</div>